<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header id="head" class="alt" th:include="STYLESHEETS :: stylesheet" />
    <title>PANEL ADMINA - DODAJ PRODUKT</title>
</head>
<body>
    <header id="header" class="alt" th:include="MENU :: title-menu" />
    <div id="div" class="alt" th:include="MENU_ADMIN :: admin-menu" />

    <div class="container">
        <span th:text="${newProduct.name}"></span> - kategoria o takiej nazwie już istnieje. Skorzytaj z panelu edycji istniejących kategorii
    </div>
</body>
</html>